.vscode
.vscode/*
test
test/*
wow.py
my-first-cnn-model.h5
*.h5
*/*.h5
utils-study
utils-study/*
myutils
myutils/*
.DS_Store
.DS_Store/*
**/datasets/**
datasets
**/tmp/**
**/logs/**
**/log/**
*.npz
**/models/**
**/__pycache__/**
**/__pycache__
**/aug/**
aug
**/model
**/models
**/.idea
.idea
**/tmp

